<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/expense.css}">
		<title th:text="#{title.deposit-delete-end}"></title>
	</head>
	<body>
		<div align="center">
			<form th:action="@{/expenseList-delete-end}" method="post">
				<input class="logout" type="submit" name="logout_btn" th:value="#{button.logout}"/>
				<br>
				
				<header>
					<h1 th:text="#{h1.deposit-delete-end}"></h1>
				</header>
				
				<br>
				<br>
				<br>
				<br>
				<br>
				
				<p th:text="#{p.delete-end-str}"></p>
				<br>
				<input type="submit" name="depositToExpenseList_btn" th:value="#{button.expense-list}"/>
			</form>
		</div>
	</body>
</html>